In [4]:
# Import
import pandas as pd
import numpy as np
import hvplot.pandas
from pathlib import Path
import os
from dotenv import load_dotenv
load_dotenv()
import csv
from binance import Client
import path
# Setting these options will allow for reviewing more of the DataFrames
pd.set_option('display.max_rows', 2000)
pd.set_option('display.max_columns', 2000)
pd.set_option('display.width', 1000)

In [2]:
API_KEY = os.getenv('API_KEY')
API_SECRET = os.getenv('API_SECRET')

client = Client(API_KEY, API_SECRET)

csvfile= open('xrp1h.csv','w', newline='')

candlestick_writer = csv.writer(csvfile, delimiter=',')

candlesticks = client.get_historical_klines("XRPUSDT", Client.KLINE_INTERVAL_1HOUR, "20 aug 2017", "5 jan 2022")

for candlestick in candlesticks:
    candlestick[0] = candlestick[0] / 1000
    candlestick_writer.writerow(candlestick)

In [3]:
csvfile.close()

In [5]:
# CSV file coverter

btc1h= pd.read_csv(
Path("./data/btc1h.csv"))
btc1h = btc1h.iloc[:,[1,2,3,4,5]]
btc1h.columns =(['open','high','low','close','volume'])

date = pd.date_range(start='20/AUG/2017', end='5/JAN/2022', freq='1H')
date = pd.DataFrame(date)
btc1h = btc1h.assign(Date=date)
btc1h.set_index(['Date'],inplace = True)
btc1h.tail(10)

                         open      high       low     close      volume
Date
2021-12-30 08:00:00  47336.98  47557.54  46850.05  46925.35  2605.26496
2021-12-30 09:00:00  46925.34  46925.35  46650.00  46767.27  1774.71297
2021-12-30 10:00:00  46767.28  46984.99  46522.91  46555.01   782.53703
2021-12-30 11:00:00  46555.00  46719.78  45500.00  45750.00  4580.41041
2021-12-30 12:00:00  45750.01  46454.86  45580.99  46052.36  2717.79608
2021-12-30 13:00:00  46052.35  46428.27  45957.52  46264.92  1111.32358
2021-12-30 14:00:00  46264.92  46322.89  46026.75  46221.89   713.51555
2021-12-30 15:00:00  46221.89  46262.39  45977.78  46159.91   671.31500
2021-12-30 16:00:00  46159.91  46159.91  45760.05  45832.01  1048.25305
2021-12-30 17:00:00  45832.01  46298.56  45722.21  46271.57  1006.79621

In [11]:
btc1h.to_csv('BTC1H.csv')